#app {
    font-family: sans-serif;
    .content{
        margin: 15px;
        // .searchCriteria{
        //     border: 1px solid grey;
        //     border-radius: 5px;
        //     padding: 10px;
        //     margin-bottom: 20px;
        //     & > *{
        //         margin: 10px;
        //         &:last-child{
        //             width: 80%;    
        //         }
        //     }
        // }
        .halfLengthInput{
            width: 50%;
        }
        .save{
            margin-top: 30px;
        }
    }
}
